<!DOCTYPE html>
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
    <head>
        <meta charset="UTF-8">
        <title>Mis Cursos</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
        <style>
            body {
                background-color: #d3d7c3;
            }
            .curso-card {
                background-color: #a2b18a;
                color: white;
                border-radius: 10px;
            }
            .btn-ver {
                background-color: #2d4025;
                color: white;
            }
        </style>
    </head>
    <body class="container mt-5">
        <h2 class="mb-4">Tus cursos</h2>

        <a class="btn btn-secondary mb-4" th:href="@{/estudiante/cursos}">Ver cursos disponibles</a>

        <div class="row">
            <div class="col-md-3 mb-4" th:each="inscrito : ${cursosInscritos}">
                <div class="curso-card p-3 text-center">
                    <h5 th:text="${inscrito.curso.nombre}">Nombre del curso</h5>
                    <a th:href="@{/curso/{id}(id=${inscrito.curso.id})}" class="btn btn-ver mt-3">Ver curso</a>
                     <!-- Eliminar curso por id-->
                    <form th:action="@{/estudiante/eliminar-inscripcion/{id}(id=${inscrito.id})}" method="post"
                          onsubmit="return confirm('¿Estás seguro de eliminar este curso?');">
                        <button type="submit" class="btn btn-danger mt-2">Eliminar</button>
                    </form>
                </div>
            </div>